.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180%;
    text-align: center;
}

ion-item {
    text-align: center;
}

.row {
    text-align: center;
}

// .main {
//     background-color: pink;
// }