<ion-header>
    <ion-toolbar color="dark">
        <ion-icon name="arrow-back" [routerLink]="['/Profile']"></ion-icon>
        <ion-title>Update Your Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="joke">{{ joke.value }}</div>

    <ion-item>
        <ion-label position="fixed">Username</ion-label>
        <ion-input type="string" placeholder="Enter new" [(ngModel)]="User.displayName"></ion-input>


    </ion-item>

    <ion-item>
        <ion-label position="fixed">Age</ion-label>
        <ion-input type="text" placeholder="Enter new" [(ngModel)]="User.age"></ion-input>


    </ion-item>

    <ion-item>

        <ion-label position="fixed">Gender</ion-label>
        <ion-input type="string" placeholder="Enter new" [(ngModel)]="User.gender"></ion-input>



    </ion-item>


    <ion-row>
        <ion-col>
            <ion-text class="error" text-center>{{error}}</ion-text>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col>
            <ion-text class="error" text-center>{{linkError}}</ion-text>
        </ion-col>
    </ion-row>

    <ion-button color="primary" expand="block" color="dark" (click)="update2(User)">Update</ion-button>

    <!-- <ion-button (click)="updateItem(item, item.key)" [routerLink]="['/home']">Update</ion-button> -->

    <br><br>{{User.displayName}}
    <br> {{User.age}}
    <br> {{User.gender}}


</ion-content>