<ion-header>
    <ion-toolbar color="dark">
        <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
        <ion-title>Chat App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="medium">
            <ion-tab-button tab1="main" routerLink="/main">
                <ion-icon name="chatbubbles"></ion-icon>
                <ion-label>ChatsRoom</ion-label>
            </ion-tab-button>

            <ion-tab-button tab2="profile" routerLink="/profile">
                <ion-icon name="contact"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>

            <ion-tab-button tab3="profile-pic" routerLink="/profile-pic">
                <ion-icon name="chatbubbles"></ion-icon>
                <ion-label>Chats</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>