<ion-header>
    <ion-toolbar color="dark">
        <ion-title>tabs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="dark">
            <ion-tab-button tab="main" routerLink="/main">
                <ion-icon name="chatbubbles"></ion-icon>
                <ion-label>Chats</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="profile" routerLink="/profile">
                <ion-icon name="contact"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>