<ion-header>
    <ion-toolbar color="dark">
        <!-- <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon> -->
        <ion-title>Chat App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="medium">
            <ion-tab-button tab="main">
                <ion-icon name="chatbubbles"></ion-icon>
                <ion-label>ChatsRoom</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="profile">
                <ion-icon name="contact"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="user">
                <ion-icon name="contacts"></ion-icon>
                <ion-label>Contacts</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>