<ion-header>
    <ion-toolbar color="dark">
        <ion-icon name="arrow-back" [routerLink]="['/tabs']"></ion-icon>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">

    <ion-card class="card">
        <img src="{{photoURL}}"> <br><br>

        <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    </ion-card>


    <ion-label class="col">

        <p>
            <font size="4"> Name: {{userList?.displayName}}</font>
        </p>
        <p>
            <font size="4"> Age: {{userList?.age}}</font>
        </p>
        <p>
            <font size="4"> Gender: {{userList?.gender}}</font>
        </p>

    </ion-label>

    <ion-button expand="block" color="dark" (click)="onEdit(userList)">Update</ion-button>
    <ion-button expand="block" color="dark" routerLink="/home">Logout</ion-button>

</ion-content>