<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{displayName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cols">

        <!-- <div padding text-center>
            <img src="{{photoURL}}">
            <input type="file" (change)="upload($event)" />
        </div> -->

        <div class="chat" *ngFor="let chat of chatRef | async">
            <div class="me" *ngIf="uid== chat.userid && chat.sendTo == sendto">
                {{chat.message}}
                <img src="{{chat.photoURL}}">
            </div>
            <div class="you" *ngIf="chat.sendTo == uid && chat.userid == sendto">
                {{chat.message}}
                <img src="{{chat.photoURL}}">
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>

    <ion-item>
        <ion-input placeholder="Type Message....." [(ngModel)]="text"></ion-input>
        <ion-button (click)="send()" fill="clear" color="dark" icon-only slot="end">
            <ion-icon name="send"></ion-icon>
        </ion-button>
        <ion-button (click)="takePhoto()" color="dark">
            <ion-icon name="camera"></ion-icon>
        </ion-button>

        <input style="display: none" type="file" (change)="upload($event)" #fileInput>

        <ion-icon name="attach" (click)="fileI nput.click()" color="dark">
        </ion-icon>&nbsp;

    </ion-item>

</ion-footer>