.camera {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: black;
}

ion-title {
    text-align: center;
}

// .background-image {
//     --background: url("images.jpg") 0 0/100% 100% no-repeat;
// }
.chat {
    display: flex;
    flex-direction: column;
    .me {
        position: relative;
        float: right;
        margin: 20px 5px 0px;
        max-width: 80%;
        align-self: flex-end;
        padding: 6px 10px 7px;
        border-radius: 15px 15px 0;
        background: rgb(202, 133, 173);
        //box-shadow: 0 4px 8px 0 rgba(0,0,0,2);
        font-size: medium;
        line-height: 1.4;
    }
    .you {
        position: relative;
        margin: 15px;
        max-width: 80%;
        align-self: flex-start;
        padding: 6px 10px 7px;
        border-radius: 15px 15px 15px 0;
        background: rgba(173, 138, 158, 0.5);
        //box-shadow: 0 4px 8px 0 rgba(0,0,0,2);
        font-size: medium;
        line-height: 1.4;
    }
}

.me {
    float: right;
}

.background-image {
    background-color: plum;
}