<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{displayName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">

    <div class="chat" *ngFor="let chat of chatRef | async">
        <div class="me" *ngIf="uid== chat.userid && chat.sendTo == sendto">
            {{chat.message}}
        </div>
        <div class="you" *ngIf="chat.sendTo == uid && chat.userid == sendto">
            {{chat.message}}
        </div>
    </div>

</ion-content>
<ion-footer>
    <ion-item>
        <ion-input placeholder="Type..." [(ngModel)]="text"></ion-input>
        <ion-button (click)="send()" fill="clear" icon-only slot="end">
            <ion-icon name="send"></ion-icon>
        </ion-button>
    </ion-item>
</ion-footer>