.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180%;
}

ion-item {
    text-align: center;
}

.reg {
    text-align: center;
}

.no-margin {
    height: 100%;
}