<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Chat Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">

    <div class="main">
        <ion-card no-margin>
            <ion-card-content>
                <!-- <ion-row class="row"> -->
                <div class="reg">
                    <!-- <img src="assets/register.jpg" class="center"> -->

                </div>
                <!-- </ion-row>  -->
                <br>
                <br>
                <ion-item>
                    <ion-label position='floating'>
                        Email
                    </ion-label>
                    <ion-input type="email" [(ngModel)]="email" class="input" padding-horizontal clear-input="true"></ion-input>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label position='floating'>
                        Password
                    </ion-label>
                    <ion-input type="password" [(ngModel)]="password" class="input" padding-horizontal clear-input="true"></ion-input>
                </ion-item>
                <br>

                <div text-center>
                    <ion-button expand="block" color="dark" (click)="login()">Login</ion-button>
                </div>
                <div text-center>
                    <ion-button expand="block" color="dark" (click)="anonymous()">Login Anonymous</ion-button>
                </div>
                <br><br><br>
                <div text-center>
                    <b>or</b>
                    <br>
                    <ion-button expand="block" color="dark" (click)="signUp()" fill="clear">signUp</ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>