<!-- <ion-header>
    <ion-toolbar color="dark">
        <ion-icon name="arrow-back" [routerLink]="['/tabs']"></ion-icon>
        <ion-title>
            Chat Room
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="ce">
        <div class="chat" *ngFor="let chat of chatRef | async">

            <div class="me" *ngIf="uid==chat.UserID">
                {{chat.Message}}
            </div>

            <div class="you" *ngIf="uid != chat.UserID">
                <span class="name">
      {{chat.Name}}
    </span><br> {{chat.Message}}
                <!-- <label style="text-align: right; background-color: grey ;border-radius:6px 21px 6px"><small>{{chat.Timestamp | date : 'hh:mm' }}</small></label> -->
            </div>
        </div>
    </div>
</ion-content>
<ion-footer color="dark">

    <ion-item>
        <ion-input placeholder="Type Message....." [(ngModel)]="text"></ion-input>
        <ion-button (click)="send()" fill="clear" icon-only slot="end" color="dark">
            <ion-icon name="send"></ion-icon>
        </ion-button>



    </ion-item>



</ion-footer>